{% extends 'base.html' %}

{% block content %}
<h2 class="subtitle is-2">Registrando un Libro</h2>
<form method="post">
    <div class="field">
        <label for="titulo">Titulo:</label>
        <div class="control">
            <input type="text" id="titulo" name="titulo" required class="input">
        </div>
    </div>
    <div class="field">
        <label for="autor">Autor:</label>
        <div class="control">
            <input type="text" id="autor" name="autor" required class="input">
        </div>
    </div>
    <div class="field">
        <label for="edicion">Edicion:</label>
        <div class="control">
            <input type="number" id="edicion" name="edicion" required class="input">
        </div>
    </div>
    <div class="field">
        <label for="disponibilidad">Disponibilidad:</label>
        <div class="control">
            <label>
                <input type="radio" name="disponibilidad" value="true" required> Disponible
            </label>
            <label>
                <input type="radio" name="disponibilidad" value="false" required> No disponible
            </label>
        </div>
    </div>
    <input type="submit" value="Registrar" class="button is-primary">
</form>
{% endblock %}